In [44]:
import pandas as pd

In [45]:
df = pd.read_csv ('/Users/ars/Desktop/Data_Dictionary_for_CSV_2022_10_11.csv')

In [46]:
df.head()

,data_source_title,report_type_title,field_title,sql_field_name,api_field_name
0,ACME,Transactions,Amount,amount,Amount
1,ACME,Transactions,Discount Transaction Value,discount_transaction_value,DiscountTransactionValue
2,ACME,Transactions,Sale Type,sale_type,SaleType
3,ACME,Transactions,Sale Channel,sale_channel,SaleChannel
4,ACME,Transactions,Purchase Type,purchase_type,PurchaseType

In [47]:
searchfor = ['amount','value','price','balance','quantity','clicks','opens','subscribe','expand','views','rate','tax','bounce','visits','total','avg','estimate','percent','count','cost','conversion','send','opens','reach','ratio','ctr','impressions']

In [48]:
metrics = df['sql_field_name'].str.contains('|'.join(searchfor))

In [49]:
df['metrics'] = metrics
df2 = df[df['metrics'] == True]

In [50]:
#some fields matched as metrics incorretly
#need to clean data
print(df2)

      data_source_title report_type_title                 field_title  \
0                  ACME      Transactions                      Amount
1                  ACME      Transactions  Discount Transaction Value
15                 ACME      Transactions               Discount Name
23                 ACME      Transactions               Discount Code
25                 ACME      Transactions              Discount Value
...                 ...               ...                         ...
31054           Zendesk    Entity Tickets               Comment Count
31102       Zignal Labs  Newsroom Stories                     Country
31114       Zignal Labs       Key Metrics      Impressions News Blogs
31117       Zignal Labs       Key Metrics              Total Mentions
31122       Zignal Labs  Newsroom Stories       Potential Impressions

                   sql_field_name                api_field_name  metrics
0                          amount                        Amount     True
1      discount_transaction_value      DiscountTransactionValue     True
15                  discount_name                  DiscountName     True
23                  discount_code                  DiscountCode     True
25                 discount_value                 DiscountValue     True
...                           ...                           ...      ...
31054               comment_count                 comment_count     True
31102                     country                       country     True
31114      impressions_news_blogs  :calc.impressions_news_blogs     True
31117              total_mentions                mentions.count     True
31122       potential_impressions         potential_impressions     True

[9456 rows x 6 columns]

In [51]:
#cleaning from explicit miss matches
#maybe there are some more keywords to exclude
not_search_for = ['country', 'discount_name','discount_code', 'account']
pattern = '|'.join(not_search_for)
result = df2[~df2['sql_field_name'].str.contains(pattern, case=False)]

In [52]:
print(result)

      data_source_title report_type_title                    field_title  \
0                  ACME      Transactions                         Amount
1                  ACME      Transactions     Discount Transaction Value
25                 ACME      Transactions                 Discount Value
26                 ACME      Transactions              Discounted Amount
27                 ACME      Transactions  Discounted Transaction Amount
...                 ...               ...                            ...
31024           Zendesk    Ticket Metrics                        Reopens
31054           Zendesk    Entity Tickets                  Comment Count
31114       Zignal Labs       Key Metrics         Impressions News Blogs
31117       Zignal Labs       Key Metrics                 Total Mentions
31122       Zignal Labs  Newsroom Stories          Potential Impressions

                      sql_field_name                api_field_name  metrics
0                             amount                        Amount     True
1         discount_transaction_value      DiscountTransactionValue     True
25                    discount_value                 DiscountValue     True
26                 discounted_amount              DiscountedAmount     True
27     discounted_transaction_amount   DiscountedTransactionAmount     True
...                              ...                           ...      ...
31024                        reopens                       reopens     True
31054                  comment_count                 comment_count     True
31114         impressions_news_blogs  :calc.impressions_news_blogs     True
31117                 total_mentions                mentions.count     True
31122          potential_impressions         potential_impressions     True

[8979 rows x 6 columns]

In [53]:
total_fields = df[df.columns[0]].count()
metrics_count = df2.metrics.sum()

In [54]:
print(metrics_count/total_fields)

0.30381699010409974

In [58]:
result.to_csv("output.csv", sep=',')

In [59]:
print(result.head())

   data_source_title report_type_title                    field_title  \
0               ACME      Transactions                         Amount
1               ACME      Transactions     Discount Transaction Value
25              ACME      Transactions                 Discount Value
26              ACME      Transactions              Discounted Amount
27              ACME      Transactions  Discounted Transaction Amount

                   sql_field_name               api_field_name  metrics
0                          amount                       Amount     True
1      discount_transaction_value     DiscountTransactionValue     True
25                 discount_value                DiscountValue     True
26              discounted_amount             DiscountedAmount     True
27  discounted_transaction_amount  DiscountedTransactionAmount     True